layout {
    background-color "transparent"
    center-focused-column "never"
	always-center-single-column
    default-column-width { proportion 0.5; }
    preset-column-widths {
        proportion 0.334
        proportion 0.50
        proportion 0.6666667
    }
    shadow {
	  on
      softness 30
      spread 100
      offset x=0 y=0
      //color "#ff9bd595"
	  color "transparent"
    }
}
