config-notification {
    disable-failed
}
overview {
    workspace-shadow {
        off
    }
}
hotkey-overlay {
    skip-at-startup
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
gestures {
    hot-corners {
        off
    }
}