include "components/spawns.kdl"

include "components/miscellaneous.kdl"

include "components/outputs.kdl"

include "components/input.kdl"

include "dms/layout.kdl"

include "dms/colors.kdl"

include "components/environment.kdl"

include "components/animations.kdl"

include "dms/binds.kdl"

include "dms/alttab.kdl"

include "dms/wpblur.kdl"

include "components/layout.kdl"

include "components/alttab.kdl"

include "components/cursor.kdl"

include "components/rules.kdl"
