// evelyn's dotfiles, again
// this is a bit of a reorganize and im hoping for it to be more maintainable :3
// if you're going to install this on your system, i highly recommend reading through the entire thing first

// base niri stuff compartmentalized into different files to make it all neat
// you shouldn't *have* to mess with any of this (except for environment maybe) but nothing's stopping you :3
// if you make an improvement send patches!!! but no vibecoded slop please
include "base/input.kdl"

include "base/layout.kdl"

include "base/animations.kdl"

include "base/window-rules.kdl"

include "base/miscellaneous.kdl"

include "base/environment.kdl"

// EXTRA SETTINGS

// blur settings
// for settings stuff (e.g. spread, passes) and choosing which apps get blur
include "extra/blur-settings.kdl"

// extra alt-tab settings
// to make it look nice :3
include "extra/alttab.kdl"


// DMS base files
// you shouldn't edit these, changes from DMS settings will overwrite them
include "dms/colors.kdl"

include "dms/layout.kdl"

include "dms/alttab.kdl"

include "dms/outputs.kdl"

include "dms/cursor.kdl"

include "dms/wpblur.kdl"

// keybinds are managed by DMS
// you can also modify them from your text editor if you like
include "dms/binds.kdl"