/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #1c511f !important;
  --toolbarbutton-icon-fill: #9bd595 !important;
  --toolbar-field-color: #e3e1ec !important;
  --tab-selected-textcolor: #9bd595 !important;
  --toolbar-color: #e3e1ec !important;
  --arrowpanel-color: #e3e1ec !important;
  --arrowpanel-background: #1f1f27 !important;
  --sidebar-text-color: #e3e1ec !important;
  --zen-main-browser-background: #12131a !important;
  --zen-main-browser-background-toolbar: #12131a !important;
}

#zen-browser-background {
  --zen-main-browser-background: #12131a !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #12131a !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #1f1f27 !important;
}

#zen-workspaces-button {
  background-color: #1f1f27 !important;
}

#TabsToolbar {
  background-color: #12131a !important;
}

.urlbar-background {
  background-color: #1f1f27 !important;
}

.urlbar-input::selection {
  color: #00390a !important;
  background-color: #9bd595 !important;
}

.urlbarView-url {
  color: #c6c5d6 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #9bd595
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #b4eaae !important;
  --identity-icon-color: #b4eaae !important;
}

.identity-color-turquoise {
  --identity-tab-color: #9bd595 !important;
  --identity-icon-color: #9bd595 !important;
}

.identity-color-green {
  --identity-tab-color: #a8ffa5 !important;
  --identity-icon-color: #a8ffa5 !important;
}

.identity-color-yellow {
  --identity-tab-color: #fff4a5 !important;
  --identity-icon-color: #fff4a5 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffee72 !important;
  --identity-icon-color: #ffee72 !important;
}

.identity-color-red {
  --identity-tab-color: #ffb59f !important;
  --identity-icon-color: #ffb59f !important;
}

.identity-color-pink {
  --identity-tab-color: #ceffc9 !important;
  --identity-icon-color: #ceffc9 !important;
}

.identity-color-purple {
  --identity-tab-color: #31622c !important;
  --identity-icon-color: #31622c !important;
}

#zen-appcontent-navbar-container {
  background-color: #12131a !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #9bd595 !important;
  color: #9bd595 !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #9bd595 !important;
  color: #9bd595 !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #9bd595 !important;
}
