layout {
    background-color "transparent"

    focus-ring {
        active-color   "#bbcf81"
        inactive-color "#909284"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#bbcf81"
        inactive-color "#909284"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#bbcf81"
        inactive-color "#909284"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#bbcf8180"
    }
}